.menu2 {
    list-style-type: none;
    display: flex;
    align-items: center;
    border: rgb(20, 182, 223) solid 2px;
    background-color: rgb(20, 182, 223);
    width: 908px;
    margin: 30px auto 50px;
}

.menu2 li{
    flex-grow: 1;
    text-align: center;
    font-size: 1.2em;
    width: 180px;
    background-color: rgb(20, 182, 223);
    color: white;
    padding: 30px 0; 
    border-right: white 2px solid;
}  

.menu2 .bord{
    border: none;
}

.menu2 li:hover{
    color:black;
    background-color: white;
    font-weight: bold;
}

@media screen and (max-width: 900px){
    .menu2{
        display: block;
        width: 200px;
    }

    .menu2 li{
        width: 200px;
        border-bottom: white 2px solid;
        border-right: none;
    }
}