[sondage] .menuSondage{
    margin: 35px 0 50px;
}

[sondage] .menuSondage div{
    margin: 0px;
    height: 200px;
}

[sondage] .menuSondage img{
    width : 1200px;
    height: 250px;
}

[sondage] .menuSondage h2{
    top: 20px;
    width: 1200px;
}